* {
    margin: 0;
    padding: 0;
}

.lose {
    color: red;
}

.win {
    color: green;
}

#container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

#gold_bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px;
    margin-left: 6%;
}

#actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#actions div {
    border: 2px solid black;
    margin: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}

#activities h1{
    margin-left: 6%;
    margin-bottom: 15px;
}

#activities div {
    border: 2px solid black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}