<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    @{
        <p>Current Time</p>
        <p>@ViewBag.current</p>
        <p>Christmas Day</p>
        <p>@ViewBag.end</p>
        <p>Time Remaining:</p>
        <p>@ViewBag.diff</p>
    }
</body>
</html>