@{
    ViewData["Title"] = "Home Page";
}
@model User
<h1>Dojo Survey</h1>

<form action="/submit" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name">
    </div>
    <div>
        <label asp-for="Location"></label>
        <select asp-for="Location">
            <option value="San Jose">San Jose</option>
            <option value="Chicago">Chicago</option>
        </select>
    </div>
    <div>
        <label asp-for="Language"></label>
        <select asp-for="Language">
            <option value="C#">C#</option>
            <option value="Javascript">Javascript</option>
            <option value="Python">Python</option>
        </select>
    </div>
    <div>
        <label asp-for="Comment"></label>
        <textarea asp-for="Comment"></textarea>
    </div>
    <input type="submit" value="Submit">
</form>